.root {
  display: flex;
  min-height: 100vh;
}

.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pageContent {
  padding: 24px;
  overflow-y: auto;
}

/* ===================== Back ===================== */
.backLink {
  display: flex;
  gap: 18px;
  align-items: center;
  border: none;
  background: transparent;
  color: #0A0A0A;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
  cursor: pointer;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.formCard {
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  max-width: 1000px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 16px;
}

textarea {
  min-height: 90px;
  resize: none;
  margin-bottom: 20px;
}

.doulaGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
  max-height: 420px;
  overflow-y: auto;
  padding: 4px;
}

.doulaCard {
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 14px;

  display: flex;
  gap: 14px;
  align-items: center;

  background: #ffffff;
  cursor: pointer;

  transition: all 0.2s ease;
}

.doulaCard:hover {
  border-color: #EF4444;
  box-shadow: 0 6px 18px rgba(79, 70, 229, 0.12);
  transform: translateY(-2px);
}

.doulaCard.selected {
  border-color: #EF4444;
  background: #F7EBED;
}


.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #F7EBED;
  color: #8335A0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 14px;
  flex-shrink: 0;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.cancelBtn {
  background: #F7EBED;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
}

.submitBtn {
  background: #EF4444;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.info strong {
  font-size: 14px;
  color: #0f172a;
}

.yoe {
  font-size: 12px;
  color: #64748b;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info p {
  font-size: 12px;
  color: #475569;
  margin: 0;
}
