.container {
  background: #ffffff;
  border-radius: 14px;
  padding: 24px;
  font-family: Inter, sans-serif;
  border: 1px solid #0000001A;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h4 {
  font-size: 16px;
  color: #0F172B;
  font-weight: 400;
}

.live {
  font-size: 12px;
  padding: 2px 8px;
  background: #ECEEF2;
  border-radius: 8px;
  border: 1px solid #00000000;
  color: #030213;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  gap: 12px;
}
.listdetails {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.blue {
  background: #EFF6FF;
  color: #2B7FFF;
}

.green {
  background: #F0FDF4;
  color: #00C950;
}

.orange {
  background: #FFF7ED;
  color: #FF6900;
}

.purple {
  background: #FAF5FF;
  color: #AD46FF;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: #0F172B;
  margin-bottom: 8px;
}

.detail {
  font-size: 14px;
  color: #45556C;
  margin-bottom: 4px;
}

.time {
  font-size: 12px;
  color: #90A1B9;
}
