.topbar {
  padding-left: 30px;
  padding-right: 30px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid #e9e9e9;
}

.search {
  width: 60%;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  min-width: 0; 
}

.bell {
  position: relative;
  margin-right: 10px;
  flex-shrink: 0; 
}

.bell:hover {
    cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #8335A0;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .topbar {
    padding-left: 70px;
    padding-right: 15px;
  }
  
  .search {
    width: 70%;
    padding: 8px 12px;
    font-size: 14px;
  }
  
  .bell {
    margin-right: 5px;
  }
}

@media (max-width: 480px) {
  .topbar {
    padding-left: 20px;
    padding-right: 10px;
  }
  
  .search {
    width: calc(100% - 90px);
    padding: 8px 10px;
    font-size: 13px;
  }
  
  .bell img {
    width: 20px;
  }
}