.topbar {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  height: 64px;
  min-height: 64px;
  flex-shrink: 0;

  background: white;
  border-bottom: 1px solid #e9e9e9;
}

.right {
  margin-left: auto;  
  display: flex;
  align-items: center;
}
.brand {
  height: 150px;
  width: 150px;
  object-fit: contain;
  position: relative;
  flex-shrink: 0;
}
.logoutButton {
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgb(255, 0, 0);
  color: #ffff;
  border: solid 1px rgb(255, 0, 0);
}
@media (max-width: 768px) {
  .topbar {
    padding: 0 15px 0 70px;
    height: 56px;
/* 
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white; */
  }

  .search {
    flex: 1;
    padding: 8px 12px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .topbar {
    padding: 0 10px;
    height: 52px;
    gap: 10px;
  }

  .search {
    font-size: 13px;
    padding: 8px 10px;
  }

  .bell img {
    width: 20px;
    height: 20px;
  }

  .badge {
    font-size: 9px;
    padding: 2px 5px;
  }
}
