body {
  overflow-x: hidden;
}
.dashboardRoot {
    display: flex;
    background: #ffff;
    min-height: 100vh;
    width: 100%;
}

.contentArea {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.pageContent {
    padding: 22px 16px;
    overflow-x: hidden;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: #111827;
}

.zoneStatus {
    font-size: 16px;
    font-weight: 400;
    color: #62748E;
    margin-top: 4px;
}

.activeTag {
    background-color: #DCFCE7;
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #008236;
}
.row{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    min-width: 0;
}
.child1,
.child2 {
    min-width: 0;
}
.child1{
    flex: 2;
}
.child2{
    flex: 1;
}
@media (max-width: 480px) {
  .pageContent {
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .row {
    flex-direction: column; 
    gap: 16px;
  }

  .child1,
  .child2 {
    width: 100%;
  }
}
