.container {
  margin-top: 20px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  font-family: Inter, sans-serif;
  max-width: 360px;
}
.container p{
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header h4 {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.viewAll {
  font-size: 13px;
  color: #4f46e5;
  cursor: pointer;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 14px;
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.green {
  background: #10b981;
}

.teal {
  background: #14b8a6;
}

.blue {
  background: #3b82f6;
}

.name {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}

.for {
  font-size: 12px;
  color: #6b7280;
}

.stars {
  margin-left: auto;
  display: flex;
  gap: 2px;
  color: #fbbf24;
  font-size: 14px;
}

.message {
  font-size: 13px;
  color: #4b5563;
  margin: 10px 0;
  line-height: 1.4;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #9ca3af;
}
